* {
    font-family: 'Courier New', Courier, monospace;
}
body {
    padding: 60px;
    background-color: grey;
}
input {
    font-size: 1rem;
    width: 70%;
}
button {
    width: 29%;
    font-size: 1rem;
}
.gifstyle {
    align-content: center;
    border: 1px solid #000;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}
.gifstyle p {
    padding: 6px;
    text-align: center;
}
.gifstyle img {
    max-height: 360px;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}